@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
ul {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1280px;
}

